@charset "UTF-8";

@font-face {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimByeolbichhaneulTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ================================ */
.section {
    width: 100%;
    height: 100vh;
    background-color: hsl(349, 100%, 98%);
}

.section1 {
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
}

.section1 div {
    text-align: center;
    margin-bottom: 50px;
}

.section1 div>img {
    width: 450px;
    ;
}

.section1 div>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 div>ul>li {
    padding: 10px;
    font-size: 40px;
    color: #e0798d;
}

.section1_t {
    font-size: 30px;
    color: #e0798d;
    margin-bottom: 10px;
}

/* ============== */
.title {
    position: relative;
    top: -130px;
    left: 50px;
}
.title_img {
    width: 0;
    height: 0;
    border-bottom: 50px solid #e0798d;
    border-top: 50px solid #e0798d;
    border-left: 400px solid #e0798d;
    border-right: 50px solid transparent;
    margin-left: 20px;
    position: absolute;
    top: 0px;
}
.title h1 {
    position: absolute;
    top: 28px;
    left: 55px;
    color: white;
    font-family: 'HakgyoansimByeolbichhaneulTTF-B';
    font-size: 40px;
}
.text_box {
    position: relative;
    top: 30px;
    left: 100px;
}
.text_box .circle {
    width: 70px;
    height: 70px;
    background-color: #e0798d;
    border-radius: 50%;
}
.text_box h2 {
    position: absolute;
    top: 12px;
    left: 22px;
    font-family: 'MangoDdobak-B';
    font-size: 35px;
} 
.text_box h2>span {
    font-size: 45px;
    padding-right: 20px;
    color: white;
}
.text_box p {
    margin-left: 100px;
    font-size: 25px;
    font-family: 'MangoDdobak-B';
}
.text_box .first_p {
    margin-top: 30px;
}
.box2 {
    margin-top: 50px;
}
.line {transition: 1s;}
.text_box>p:hover .line {
    background-color: #e0798d;
    color: white;
    padding: 3px;
}

/* ========= */
.section4_box {
    display: flex;
    justify-content: center;
}
.section4_box div {
    width: 45%;
    
}
.section4_box div img{
    width: 80%;
    height: auto;
    object-fit: cover;
    transition: 1s;
    filter: brightness(0.5);
}
.section4_box div img:hover {
    filter: brightness(1);
}
.section4_left {
    position: relative;
}
.section4_left .a_title {
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: 'MangoDdobak-B';
    font-size: 40px;
    color: white;
    z-index: 100;
}
.section4_right {
    position: relative;
}
.section4_right .a_title {
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: 'MangoDdobak-B';
    font-size: 40px;
    z-index: 100;
    color: white;
}